<!DOCTYPE html>
{% extends 'base.html' %}
<html>
<head>
    {% block head %}
    {% load static %}    
    <link rel="stylesheet" href="{% static 'cryptocurrencies/style.css' %}">
    <meta charset="utf-8">
    {% endblock %}
</head>
<body>
    {% block menu %}
    {% endblock %}
    <div class="cover"></div>
    <main>
        {% block main %}
        <div>
            <h1 class="header">Cryptocurrencies</h1>
            <h2 class="prompt">
                <p>This site is currently on the early stages of development</p>
                <p>So it doesn't have enough data for usage</p>
                <p>If you are interested in this project, you can contact me in TG @Forzzy</p>
            </h2>
        </div>
        <table class="center">
            <thead>
                <th class="column1">Smart contract</th>
                <th class="column2">Blockchain</th>
                <th class="column3">Creator address</th>
                <th class="column4">Block number</th>
                <th class="column5">Created</th>
            </thead>
            <tbody>
            {% for elements in data %}
                <tr>
                    <td class="address column1">{{elements.address}}</td>
                    <td class="blockchain column2">{{elements.blockchain}}</td>
                    <td class="creator column3">{{elements.creator}}</td>
                    <td class="block-number column4">{{elements.block_number}}</td>
                    <td class="creation-datetime column5">{{elements.creation_datetime}}</td>
                </tr>
            {% endfor %}
            </tbody>
            </table>
        {% endblock %}
    </main>
</body>

