<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'cryptocurrencies/style.css' %}">
    <meta charset="utf-8">

</head>
<body>
    <header>
        <div>
            <h1 class="header">Cryptocurrencies</h1>
            <h2 class="prompt">
                <p>This site is currently on the early stages of development</p>
                <p>So it doesn't have enough data for usage</p>
                <p>If you are interested in this project, you can contact me in TG @Forzzy</p>
            </h2>
    </header>
    <main>
        <table>
            <thead>
                <th class="address">Smart contract</th>
                <th class="blockchain">Blockchain</th>
                <th class="creator-address">Creator address</th>
                <th class="block-num">Block number</th>
                <th class="creation-date">Created</th>
            </tr>
            </thead>
            <tbody>
            {% for elements in data %}
            <th class="address-data">{{elements.address}}</th>
            <th class="blockchain-data">{{elements.blockchain}}</th>
            <th class="creator-address-data">{{elements.creator}}</th>
            <th class="block-num-data">{{elements.block_number}}</th>
            <th class="creation-date-data">{{elements.creation_datetime}}</th>
            {% endfor %}
            </tbody>
            </table>
    </main>
</body>

